<div id="pre-tools">
    <app-hacker-text [text]='text' (textComplete)="textComplete()"></app-hacker-text>
    <div class="hidden">You must forgive my lips… they find pleasure in the most unusual places.</div>
</div>