<div id="stations">
  <ul>
    <li *ngFor="let station of stations" class="station-form">
      <a href="/{{station.url}}">
        <div [class.todo]="!station.done">{{station.name}} ({{station.status}})</div>
      </a>
    </li>
  </ul>
  <div>Previous stations</div>
  <ul>
    <li *ngFor="let station of oldStations" class="old-station-form">
      <a href="/{{station.url}}">
        <div [class.todo]="!station.done">{{station.name}} ({{station.status}})</div>
      </a>
    </li>
  </ul>
  <app-hacker-text [text]='text' (textComplete)="textComplete()"></app-hacker-text>
  <div *ngIf="showCodes()">
    <table class="code-input">
      <tr>
        <td>French code: </td>
        <td><input type="text" [(ngModel)]="frenchCode" name="frenchCode" (input)="save()"></td>
        <td><mat-icon *ngIf="frenchDone">done</mat-icon></td>
      </tr>
      <tr>
        <td>US code: </td>
        <td><input type="text" [(ngModel)]="usCode" name="usCode" (input)="save()"></td>
        <td><mat-icon *ngIf="usDone">done</mat-icon></td>
      </tr>
      <tr>
        <td>Chinese code: </td>
        <td><input type="text" [(ngModel)]="chineseCode" name="chineseCode" (input)="save()"></td>
        <td><mat-icon *ngIf="chineseDone">done</mat-icon></td>
      </tr>
      <tr>
        <td>British code: </td>
        <td><input type="text" [(ngModel)]="britishCode" name="britishCode" (input)="save()"></td>
        <td><mat-icon *ngIf="britishDone">done</mat-icon></td>
      </tr>
      <tr>
        <td>Russian code: </td>
        <td><input type="text" [(ngModel)]="russianCode" name="russianCode" (input)="save()"></td>
        <td><mat-icon *ngIf="russianDone">done</mat-icon></td>
      </tr>
    </table>
  </div>
  <div class="hidden">So this is how liberty dies . . . with thunderous applause.</div>
</div>