<div id="satellite">
  <div *ngIf="showHacking">
      <div>Device will overheat in <span  [class.overtime]="isOvertime()">{{hackingTimeRemaing}}</span></div>
      <div>Satellite will be overhead in {{satelliteTime}}</div>
      <div>
        Agents online:
        <ul>
          <li *ngFor="let agent of agents" class="agent-form">
            <div>{{agent.nickname}}</div>
          </li>
        </ul>
      </div>
  </div>
  <app-hacker-text [text]='text' (textComplete)="textComplete()"></app-hacker-text>
  <div class="hidden">Give me honorable enemies rather than ambitious ones, and I'll sleep more easily by night.</div>
</div>