//colors
$terminal-green: #008000;
$black: #000;

//fonts
$terminal-font: monospace;

* {
  background-color: $black;
  color: $terminal-green;
}


.hacker-text {
  width: 100%;

  span {
    .typed-cursor {
      color: $terminal-green;
    }
  }
}


