$terminal-green: #008000;
$black: #000;

//fonts
$terminal-font: Consolas, Lucida Console, monospace;

div {
  a:hover, a:visited, a:link, a:active {
    color: $terminal-green;
    text-decoration: none;
  }

  &.hidden {
    color: $black;
  }

  &.todo {
    color: red;
  }
}

table {
  &.code-input {
    input {
      border: 0;
      box-sizing: content-box;
      font-size: 30px;
      width: 370px;
    }

    button {
      background-color: gray;
      border: 0;
      box-sizing: content-box;
      color: $black;
      font-size: inherit;
      min-width: 10px;
    }
  }
}

button:focus {
  outline: 0;
}

button {
  //background: red;
  border-color: #8b0000;
  border-width: 5px;
  color: black;
  font-family: $terminal-font;
  font-size: 2vw;
  min-height: 100px;
  min-width: 300px;



  &.hidden {
    background: $black;
    border: 0;
    color: $black;
  }
}

div {
  &.self-destruct {
    input {
      border: 0;
      box-sizing: content-box;
      font-size: 30px;
      width: 70px;
    }

    td {
      text-align: center;
    }


    input {
      &.long {
        width: 110px;
      }
    }
  }
}
