<div id="final">
  <div *ngIf="showCodes()">
    <table class="code-input">
      <tr>
        <td>French code: </td>
        <td><input type="text" [(ngModel)]="frenchCode" name="frenchCode" (input)="save()"></td>
        <td><mat-icon *ngIf="frenchDone">done</mat-icon></td>
      </tr>
      <tr>
        <td>US code: </td>
        <td><input type="text" [(ngModel)]="usCode" name="usCode" (input)="save()"></td>
        <td><mat-icon *ngIf="usDone">done</mat-icon></td>
      </tr>
      <tr>
        <td>Chinese code: </td>
        <td><input type="text" [(ngModel)]="chineseCode" name="chineseCode" (input)="save()"></td>
        <td><mat-icon *ngIf="chineseDone">done</mat-icon></td>
      </tr>
      <tr>
        <td>British code: </td>
        <td><input type="text" [(ngModel)]="britishCode" name="britishCode" (input)="save()"></td>
        <td><mat-icon *ngIf="britishDone">done</mat-icon></td>
      </tr>
      <tr>
        <td>Russian code: </td>
        <td><input type="text" [(ngModel)]="russianCode" name="russianCode" (input)="save()"></td>
        <td><mat-icon *ngIf="russianDone">done</mat-icon></td>
      </tr>
    </table>
  </div>
  <div *ngIf="showText()">
    <app-hacker-text [text]='text' (textComplete)="textComplete()"></app-hacker-text>
  </div>
  <div *ngIf="showSelfDestruct()" class="self-destruct">
    <form>
      <table class="self-destruct-input" align="center">
        <tr>
          <td colspan="7">Enter self destruct code</td>
        </tr>
        <tr>
            <td><mat-icon *ngIf="morseDone">done</mat-icon></td>
            <td>&nbsp;</td>
            <td><mat-icon *ngIf="keyDone">done</mat-icon></td>
            <td></td>
            <td><mat-icon *ngIf="potentimeterDone">done</mat-icon></td>
            <td></td>
            <td><mat-icon *ngIf="toneDone">done</mat-icon></td>
        </tr>
        <tr>
            <td>
                <input type="text" pattern="\d*" maxlength="4" [(ngModel)]="self1" name="self1" (input)="save()">
            </td>
            <td>&rarr;</td>
            <td>
                <input type="text" pattern="\d*" maxlength="4" [(ngModel)]="self2" name="self2" (input)="save()">
            </td>
            <td>&rarr;</td>
            <td>
                <input class="long" type="text" pattern="[A-Z]*" maxlength="5" [(ngModel)]="self3" name="self3" (input)="save()" oninput="this.value = this.value.toUpperCase()">
            </td>
            <td>&rarr;</td>
          <td>
              <input type="text" pattern="\d*" maxlength="4" [(ngModel)]="self4" name="self4" (input)="save()">
          </td>
        </tr>
        <tr>
            <td><mat-icon *ngIf="true">hearing</mat-icon></td>
            <td></td>
            <td><mat-icon *ngIf="true">dialpad</mat-icon></td>
            <td></td>
            <td><mat-icon *ngIf="true">more_horiz</mat-icon></td>
            <td></td>
            <td><mat-icon *ngIf="true">straighten</mat-icon></td>
        </tr>
      </table>
    </form>
  </div>
  <div *ngIf="showSelfDestructButton()" class="self-destruct-button">
      <table class="self-destruct-input" align="center" style="margin-top: 100px">
        <tr>
          <td>
              <button (click)="sendSelfDestruct()" [ngStyle]="{'background': color, 'border-color': borderColor}">{{selfDestructText}}</button>   
          </td>
        </tr>
      </table>  
  </div>
</div>