//colors
$terminal-green: #008000;
$black: #000;

//fonts
$terminal-font: Consolas, Lucida Console, monospace;

* {
  background-color: $black;
}

h1 {
  text-align: center;
}

.status {
  text-align: center;
}

p {
  color: yellow;
}

.status-hide {
  display: none;
}

.status-destroyed {
  color: red;
}

.status-saved {
  color: green;
}

.status-pending {
  color: yellow;
}

.status-upcomming {
  color: grey;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  width: 600px;
}

// div {
//   align-items: center;
//   display: flex;
//   justify-content: center;
// }
