<div style="height: 100px">
  <h1 [ngStyle]="{'color': color}">{{currentCityName}}</h1>
  <p class="status" [ngStyle]="{'color': color}">{{statusText}}</p>
</div>

<div>
  <div style="float: left; width: 600px; column-count: 3">
    <p [ngClass]="getStatusClass(city)" *ngFor="let city of cityList">
      {{city.name}}
    </p>
  </div>
  <div style="position: absolute; left: calc(100vw / 2 - 300px); width: 600px;">
    <canvas width="600" height="486"></canvas>
  </div>
</div>
