<div id="high-score">
  <app-hacker-text [text]='textIntro' (textComplete)="textCompleteIntro()"></app-hacker-text>

  <div *ngIf="highScoreVisible">
    <table>
      <tr>
        <th>Rank&nbsp;&nbsp;</th>
        <th>Agent&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Phase 1</th>
      </tr>
      <tr>
        <td>#1</td>
        <td>Beluga</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
          <td>#2</td>
          <td>Ishmael</td>
          <td>COMPLETE</td>
        </tr>
      <tr>
        <td>#3</td>
        <td>Smith</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
        <td>#4</td>
        <td>Strings</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
        <td>#5</td>
        <td>Sherlock</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
        <td>#6</td>
        <td>Kenny</td>
        <td>COMPLETE</td>
      </tr>

      <tr>
        <td>#7</td>
        <td>1337</td>
        <td>COMPLETE</td>
      </tr>
      <tr class="line">
        <td>#8</td>
        <td>Smalle</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
        <td>#9</td>
        <td>Odin</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
        <td>#10</td>
        <td>Maleron</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
        <td>#11</td>
        <td>Wiggle</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
        <td>#12</td>
        <td>Ludenben</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
        <td>#13</td>
        <td>Wheatley</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
        <td>#14</td>
        <td>victor</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
        <td>#15</td>
        <td>Acromion</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
        <td>#16</td>
        <td>Shodan</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
        <td>#17</td>
        <td>Hal</td>
        <td>COMPLETE</td>
      </tr>
      <tr>
        <td>#18</td>
        <td>Caroline</td>
        <td>{{malStatus}}</td>
      </tr>
      <tr>
        <td>#19</td>
        <td>Malacoda</td>
        <td>{{malStatus}}</td>
      </tr>
    </table>
    <app-hacker-text [text]='textLine' (textComplete)="textCompleteLine()"></app-hacker-text>
  </div>
  <div *ngIf="proceedVisible">
      <button (click)="proceed()">
          <mat-icon>arrow_right_alt</mat-icon>
      </button>
  </div>

  <div class="hidden">"If you think this has a happy ending, you haven’t been paying attention." -- Ramsay Bolton</div>
</div>