$terminal-green: #008000;
$black: #000;
$terminal-font: Consolas, Lucida Console, monospace;

div {
  &.hidden {
    color: #000;
  }

  button {
    background: $black;
    border-color: $terminal-green;
    box-sizing: content-box;
    color: $terminal-green;
    display: block;
    font-family: $terminal-font;
    margin: auto;
    min-width: 10px;
    width: 20vw;

    .focus {
      outline: none;
    }
  }
}

table {
  border-collapse: collapse;

  tr {
    &.line {
      border-bottom: 3px solid red;
    }
  }
}
