<div id="explanations">
  <app-hacker-text [text]='text' (textComplete)="textComplete()"></app-hacker-text>
  <div *ngIf="showAnon">
    <app-hacker-text [text]='text2' (textComplete)="textComplete2()"></app-hacker-text>
  </div>
  <div *ngIf="showJoin">
    <app-hacker-text [text]='text3' (textComplete)="textComplete3()"></app-hacker-text>
  </div>
  <div class="hidden">Sir! I have a plan... Mein Führer, I can WALK!</div>
</div>