<div id="gps-intro">
    <app-hacker-text [text]='text' (textComplete)="textComplete()"></app-hacker-text>
    <div *ngIf="showDistance()">Distance: {{currentDistance | number:'1.0-0'}} meters</div>
    <div *ngIf="showLostGpsLock()">Lost GPS, refresh to reaquire</div>
    <div *ngIf="showJoke"><app-hacker-text [text]='textJoke' (textComplete)="textJokeComplete()"></app-hacker-text></div>
    <div class="hidden">Keep looking, someday you might find a secret</div>
</div>