<div id="nickname">
  <app-hacker-text [text]='text' (textComplete)="showInput()"></app-hacker-text>
  <div *ngIf="inputVisible" class="nick-form">
      <input size="15" maxlength="15"  #saveNickBox id="save-nick-box" />
      <button (click)="saveNick(saveNickBox.value)">
          <mat-icon>arrow_right_alt</mat-icon>
      </button>
  </div>
  
  <div class="hidden">There isn't anything here yet, but maybe one day...</div>
</div>