
div {
  &.hidden {
    color: #000;
  }

  &.nick-form {
    input {
      border: 0;
      box-sizing: content-box;
      font-size: inherit;
    }

    button {
      background-color: gray;
      border: 0;
      box-sizing: content-box;
      color: black;
      font-size: inherit;
      min-width: 10px;
    }
  }
}

