//colors
$terminal-green: #008000;
$black: #000;

//fonts
$terminal-font: Consolas, Lucida Console, monospace;

* {
  background-color: $black;
  color: $terminal-green;
  font-family: $terminal-font;


  &.main {
    font-size: 2.5em;
    line-height: normal !important;
  }
}

div {
  &.hidden {
    color: #000;
  }
}

span {
  &.todo {
    color: red;
  }
}
