<div id="recruits" class="main">
  <div class="recruits-table">
    <div>&nbsp;</div>
    <table>
      <tr>
        <th>Agent&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let player of players" class="player-form">
        <td>{{player.nickname}}</td>
        <td><span>{{player.state}}</span></td>
      </tr>
    </table>
  </div>
  <div>&nbsp;</div>
  <div>
      <app-hacker-text [text]='text'></app-hacker-text>
  </div>
</div>