<div id="recruits" class="main">
  <div class="recruits-table">
    <div>&nbsp;</div>
    <table>
      <tr>
        <th>Agent&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Docs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>The love doctor</td>
        <td><a href="/assets/pdfs/docIntro.pdf" target="_blank">doc</a></td>
        <td><span [class.todo]="isInProgress(drLove.state)">{{drLove.state}}</span></td>
      </tr>
      <tr>
        <td>The editor</td>
        <td><a href="/assets/pdfs/editorIntro.pdf" target="_blank">doc</a></td>
        <td><span [class.todo]="isInProgress(editor.state)">{{editor.state}}</span></td>
      </tr>
    </table>
  </div>
  <div>&nbsp;</div>
  <div>
      <app-hacker-text [text]='text'></app-hacker-text>
  </div>
</div>