<div id="pre-stations">
  <app-hacker-text [text]='text' (textComplete)="textComplete()"></app-hacker-text>
  <div *ngIf="showJoin">
    <app-hacker-text [text]='text2' (textComplete)="textComplete2()"></app-hacker-text>
  </div>
  <div class="hidden">Sir! I have a plan... Mein Führer, I can WALK!</div>
</div>