<div id="personality-test">
  <app-hacker-text [text]='text' (textComplete)="textComplete()"></app-hacker-text>
  <div *ngIf="showOptions">
    <div *ngFor="let option of options" class="mib-form">
      <div *ngIf="!option.textInput">
          <button [class.hidden]="option.hidden" (click)="saveAnswer(option.answer)">{{option.text}}</button>
      </div>
      <div *ngIf="option.textInput"  class="personality-form">
          <input size="15" maxlength="140"  #savePersonalityBox id="save-personality-box" />
          <button (click)="saveAnswer(savePersonalityBox.value)">
              <mat-icon>arrow_right_alt</mat-icon>
          </button>
      </div>
    </div>
  </div>
  <div class="hidden">Oh! And this one time... at band camp... I stuck a flute in my...</div>
</div> 