$terminal-green: #008000;
$black: #000;

//fonts
$terminal-font: Consolas, Lucida Console, monospace;

div {
  a:hover, a:visited, a:link, a:active {
    color: $terminal-green;
    text-decoration: none;
  }

  &.hidden {
    color: $black;
  }

  &.todo {
    color: red;
  }

  &.personality-form {
    input {
      border: 0;
      box-sizing: content-box;
      font-size: inherit;
    }

    button {
      background-color: gray;
      border: 0;
      box-sizing: content-box;
      color: $black;
      font-size: inherit;
      min-width: 10px;
    }
  }
}

button {
  background: $black;
  border-color: $terminal-green;
  color: $terminal-green;
  font-family: $terminal-font;

  &.hidden {
    background: $black;
    border: 0;
    color: $black;
  }
}
