<div id="stations">
  <ul>
    <li *ngFor="let station of stations" class="station-form">
      <a href="/{{station.url}}"><div [class.todo]="!station.done">{{station.name}} ({{station.status}})</div></a>
    </li>
  </ul>
  <app-hacker-text [text]='text' (textComplete)="textComplete()"></app-hacker-text>
  <div class="hidden">The night is dark and full of terrors, old man, but the fire burns them all away.</div>
</div>