<div id="encryption-code">
    <app-hacker-text [text]='text' (textComplete)="textComplete()"></app-hacker-text>
    <div *ngIf="showEncryptionCodeInput">
      <form>
        <input type="text" pattern="\d*" maxlength="4" [(ngModel)]="enc1" name="enc1" (input)="save()"><span>-</span>
        <input type="text" pattern="\d*" maxlength="4" [(ngModel)]="enc2" name="enc2" (input)="save()"><span>-</span>
        <input type="text" pattern="\d*" maxlength="4" [(ngModel)]="enc3" name="enc3" (input)="save()"><span>-</span>
        <input type="text" pattern="\d*" maxlength="4" [(ngModel)]="enc4" name="enc4" (input)="save()"><span>-</span>
        <input type="text" pattern="\d*" maxlength="4" [(ngModel)]="enc5" name="enc5" (input)="save()">
      </form>
    </div>
    <div class="hidden">The man who passes the sentence should swing the sword.</div>
</div>