<div class="main">
  <div *ngIf="showHacking">
    <div id="station">
      <div>Station {{stationName}}</div>
      <div *ngIf="showGpsError()" class="gps-error">No gps lock</div>
      <div  *ngIf="showLocate()">
        <div>Distance: {{currentDistance | number:'1.0-0':'nb'}} meters</div>
        <div>Locate the station</div>
        <div>
          <span>latitude: </span><span><input type="number" size="5" [(ngModel)]="inputLat" name="inputLat" (input)="saveCoords()"></span>
          <span> longitude: </span><span><input type="number" size="5" [(ngModel)]="inputLong" name="inputLong" (input)="saveCoords()"></span>
        </div>
      </div>
      <div *ngIf="showHacking()">
        <div>Device will overheat in <span [class.overtime]="isOvertime()">{{hackingTimeRemaing}}</span></div>
        <div>Window of opportunity opens in {{satelliteTime}}</div>
        <div>Location: {{realLat}}, {{realLong}}</div>
        <div>Distance: {{currentDistance | number:'1.0-0':'nb'}} meters</div>
        <div>Agents needed: {{agentsNeeded}}</div>
        <div>
          Agents online:
          <ul>
            <li *ngFor="let agent of agents" class="agent-form">
              <div>{{agent.nickname}} ({{agent.location}})</div>
            </li>
          </ul>
        </div>
      </div>
      <app-hacker-text [text]='text' (textComplete)="textComplete()"></app-hacker-text>
      <div *ngIf="showData()" [innerHTML]=retrievedData></div>
      <div class="hidden">Fluoridation is the most monstrously conceived and dangerous communist plot we have ever had
        to face.</div>
    </div>
  </div>
</div>