//colors
$terminal-green: #008000;
$black: #000;

//fonts
$terminal-font: Consolas, Lucida Console, monospace;

// * {
//   background-color: $black;
//   color: $terminal-green;
//   font-family: $terminal-font;
//   font-size: 1.5em;

//   &.main {
//     line-height: normal !important;
//   }
// }

div {
  background-color: $black;
  color: $terminal-green;
  font-family: $terminal-font;

  &.main {
    font-size: 2.5em;
    line-height: normal !important;
  }

  &.hidden {
    color: #000;
  }

  &.xor-doc {
    font-size: 0.5em;
  }

  ul {
    margin-top: 0;
  }

  &.gps-error {
    color: red;
  }
}

span {
  &.overtime {
    color: red;
  }
}
