<div id="be-in-touch">
  <app-hacker-text [text]='text'></app-hacker-text>

  <div *ngIf="gfVisible">
    <img src="/assets/imgs/gf.png">
  </div>
  <div class="hidden">Not today, not today. But maybe some day.</div>
</div>