<div class="riddle" fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
  <div>Correct us</div>
  <div>████████, ████████, ███ <input class="centered" maxlength="3" size="3" #saveDateBox id="save-date-box" (input)="saveDate(saveDateBox.value)" /> ██ ████████</div>
  <div>█████████ ███████ ███ ████</div>
  <div>█ ███ ██ ██████ ███ █████████ ███████</div>
  <div>██████ ████ ██ ██████</div>
  <div>&nbsp;</div>
  <div>"█████ ███ ██████ █████ ████ ███████ ███ ██████ ██ ██████ ██."</div>
  <div>-- <input size="10" #saveAuthorBox id="save-author-box" (input)="saveAuthor(saveAuthorBox.value)"/></div>
</div>
<div *ngIf="results.text">
    <app-hacker-text [text]='results.text'></app-hacker-text>
</div>
