<div id="team-setup">
    <div>
        <app-hacker-text [text]='textIntro' (textComplete)="textCompleteIntro()"></app-hacker-text>
    </div>
    <div *ngIf="teamVisible">
        <app-hacker-text [text]='textTeam' (textComplete)="textCompleteTeam()"></app-hacker-text>
    </div>
   
    <div *ngIf="linkVisible">
      <div>
          <a href="https://zeitzealot.org/omega-recruits" target="_blank">Recruting info</a>
      </div>
      <div>
          <app-hacker-text [text]='textRecruit' (textComplete)="textCompleteRecruit()"></app-hacker-text>
      </div>
    </div>

    <div *ngIf="proceedVisible">
        <button (click)="proceed()">
            <mat-icon>arrow_right_alt</mat-icon>
        </button>
    </div>
  
    <div class="hidden">"If you think this has a happy ending, you haven’t been paying attention." -- Ramsay Bolton</div>
  </div>
