<div *ngIf="path === 'control-final'">
    <button style="height:50px;width:200px" (click)="start()">Start</button><br><br>
    <input style="height:50px" type="number" step="0.05" min="-1.0" max="1.5" #setMissileSpeedAdjustment
      id="set-missile-speed-adjustment" /><button style="height:50px;width:200px" (click)="setMissleSpeed(setMissileSpeedAdjustment.value)">Set missile-command
      speed</button><br><br>
    
      <input style="height:50px" type="number" step="0.1" min="0" max="5.5" #setMapSpeedAdjustment
      id="set-map-speed-adjustment" /><button style="height:50px;width:200px" (click)="setMapSpeed(setMapSpeedAdjustment.value)">Set map
      speed</button>
</div>
<div *ngIf="path === 'control-end'">
    <button style="height:50px;width:200px" (click)="play('selfdestruct')">Play ending</button><br><br><br><br>
    <button style="height:50px;width:200px" (click)="selfDestruct()">Self destruct</button><br>
</div>
<div *ngIf="path === 'control-intro'">
    <button style="height:50px;width:200px" (click)="play('intro')">Play intro</button>
</div>
<div *ngIf="path === 'control-video'">
    <button style="height:50px;width:200px" (click)="play('')">Stop</button><br><br><br><br>
    <button style="height:50px;width:200px" (click)="play('test')">Test</button><br><br><br><br>
    <button style="height:50px;width:200px" (click)="play('intro')">Intro</button><br><br>
    <button style="height:50px;width:200px" (click)="play('start')">Final Start</button><br><br>
    <button style="height:50px;width:200px" (click)="play('selfdestruct')">Success</button><br><br>
    <button style="height:50px;width:200px" (click)="play('fail')">Fail</button><br><br>
</div>
