<div style="width: 100%; margin: 0 auto;">
    <div fittext class="main">
        <!-- <app-riddle-manager></app-riddle-manager> -->
        <router-outlet></router-outlet>
        <div class="hidden">I’ve never felt so good before. This empty place inside of me is filling up. I simply cannot get enough.</div>
    </div>
</div>