<div id="tools">
  <app-hacker-text [text]='text' (textComplete)="textComplete()"></app-hacker-text>
  <div *ngIf="showToolList">
    <ul>
        <li *ngFor="let tool of tools" class="tool-form">
          <div [class.todo]="tool.todo(currentState)">{{tool.description}}</div>
        </li>
    </ul>
  </div>
  <div class="hidden">Well, you better tuck that in. Gonna get that caught on a tripwire.</div>
</div> 